$bg-color : rgb(209, 209, 209);
$primary-color: rgb(83, 97, 224);
$secondary-color: rgb(137, 77, 177);
$dark-color: black;
$light-color: white;
$earn-color: rgb(38, 197, 38);
$spent-color: rgb(196, 27, 27);