.App{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 1fr 2fr 3fr;
    grid-gap: 2px
    
}

.header{
    border: 2px solid black;
    text-align: center;
    padding-top: 2px;
    background-color: rgb(123, 95, 202);
    color: cornsilk;
}
.balance{
    border: 2px solid black;
    text-align: center;
    padding-top: 2px;
    background-color: rgb(123, 95, 202);
    color: cornsilk;
}
.transaction-list{
    border: 2px solid black;
    text-align: center;
    padding-top: 2px;
    background-color: rgb(123, 95, 202);
    color: cornsilk;
}

.income-expences{
    display: grid;
    grid-template-columns: 2fr 2fr;
    
}

.earn{
    border: 2px solid black;
    text-align: center;
    padding-top: 2px;
    background-color: rgb(82, 194, 88);
    color: cornsilk;
}
.spent{
    border: 2px solid black;
    text-align: center;
    padding-top: 2px;
    background-color: rgb(212, 26, 26);
    color: cornsilk;
}
.trans-header{
    text-align: center;
    text-decoration: underline;
    background-color: tomato;
}
.add-transaction{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    gap: 1fr;
    background-color: thistle;
    
}
.tran-description{
    text-align: center;
    
    
}
.trans-input{
    text-align: center;
    border-radius: 10px;
}
.trans-button{
    text-align: center;
    background-color: rgb(160, 55, 142);
    font-size: large;
    font-family: fantasy;
    color: whitesmoke;
    font-weight: bold;
}